<div class="nav-menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">TaskManagement</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/tasks" Match="NavLinkMatch.All">
                        Task List
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/taskcreate" Match="NavLinkMatch.All">
                        Create Task
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
}
